body {
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: brown;
}

h2 {
    margin: 2px 0;
}

main {
    width: 100%;
    margin: 1rem auto;
    display: flex;
    gap: 6px;
    justify-content: center;
    padding: 12px;
    width: fit-content;
}

.keys-black {
    gap: 16px;
}

button {
    padding: 1rem;
    width: 60px;
    height: 200px;
    border: none;
    background-color: black;
    color: black;
    border-radius: 0 0 3px 3px;
    display: flex;
    align-items: end;
    justify-content: center;
    text-align: center;
}

#loose {
    background-color: transparent;
}

.keys-black {
    transform: translateY(-241px);

    button {
        width: 50px;
        height: 140px;
        border-radius: 0 0 6px 6px;
        color: white;
    }
}


.keys-white {

    button {
        background-color: white;
    }
}

.options {
    display: flex;
    gap: 12px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border: 1px solid black;
    width: fit-content;
}


.menu button {
    color: white;
}


.screen {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    font-size: 1.5rem;
}

.transpose_btns {
    display: flex;
    align-items: center;
    gap: 12px;

    button {
        width: auto;
        height: auto;
        font-size: 2rem;
        padding: 0.5rem 2rem;
    }
}
